<header class="nav-bar">
    <a href="{{ site.url }}/" class="nav-home nav-links">HOME<img class="icon" src="{{ site.url }}/assets/svg-icons/apatosaurus.svg"></a>
    <nav class="nav-pages">
        <ul>
            <li>
                <a class="nav-links" href="{{ site.url }}/fa_blog">
                    <img class="icon" src="{{ site.url }}/assets/svg-icons/fox.svg">FaBlog
                </a>
            </li>
            <li>
                <a class="nav-links" href="#">
                    <img class="icon" src="{{ site.url }}/assets/svg-icons/penguin.svg"> EnBlog
                </a>
            </li>
            <li>
                <a class="nav-links" href="#">
                    <img class="icon" src="{{ site.url }}/assets/svg-icons/elephant.svg"> Projects</a>
            </li>
            <li>
                <a class="nav-links" href="#">
                    <img class="icon" src="{{ site.url }}/assets/svg-icons/dacentrurus.svg"> Resume</a>
            </li>
        </ul>
    </nav>
</header>