.tag-list {
    text-align: center;
    margin: 10px 50px;
    font-family: "Yekan", "Neucha", cursive;
    font-size: 18px;
}
.title
{
    color: var(--primary);
}
.tag-group {
    padding: 10px 0;
}

.tag-group-title {
    font-size: 1.1em;
}

.tag-item {
    margin: 10px 0px;
}

.title {
    font-family: "Neucha", cursive;
    margin-bottom: 10px;
}