.tag-list {
    text-align: center;
    margin: 10px 50px;
    font-family: "Yekan", "Neucha", cursive;
    font-size: 15px;
}

.tag-group {
    padding: 10px 0;
}

.tag-group-title {
    font-size: 1.1em;
}

.tag-item {
    margin: 10px 0px;
}

.list {
    list-style: none;
    h2 {
        font-family: "Neucha", cursive;
    }
    .item {
        font-family: "Yekan", "Neucha", cursive;
    }
}

.tag-list h2 {
    color: rgb(228, 118, 0);
}

.item {
    padding: 0;
    margin: 15px 0;
    line-height: 1.5em;
}

.date {
    color: rgba(var(--secondary-rgb), .3);
}