@font-face {
    font-family: "Yekan";
    src: url('../persian-web-font/yekan-font/Yekan.eot');
    src: url('../persian-web-font/yekan-font/Yekan.woff?#iefix') format('embedded-opentype'), url('../persian-web-font/yekan-font/Yekan.woff') format('woff'), url('../persian-web-font/yekan-font/Yekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Vazir";
    src: url('../persian-web-font/vazir-font-v18.0.0/Vazir.eot');
    src: url('../persian-web-font/vazir-font-v18.0.0/Vazir.woff?#iefix') format('embedded-opentype'), url('../persian-web-font/vazir-font-v18.0.0/Vazir.woff') format('woff'), url('../persian-web-font/vazir-font-v18.0.0/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}