/* Global link styles */
a {
    text-decoration: none;
    transition: color var(--transition-default);
    
    &:hover {
        color: var(--color-links-hover);
    }
}

/* Specific link styles */
.nav-links {
    text-decoration: none;
    font-size: 1.1em;
    color: var(--primary);
    transition: color var(--transition-default);
    
    &:hover {
        color: var(--color-links-hover);
        text-shadow: 1px 2px rgba(0, 0, 0, 0.1);
    }
    
    &:active {
        color: var(--color-active);
    }
}

.category-links {
    text-decoration: none;
    color: rgba(var(--primary-rgb), .5);
    transition: color var(--transition-default);
    
    &:hover {
        color: var(--color-links-hover);
    }
    
    &:active, &:visited {
        color: rgba(var(--primary-rgb), .5);
    }
}

.post-links {
    text-decoration: none;
    color: var(--primary);
    transition: color var(--transition-default);
  
    &:hover {
        color: var(--color-links-hover) !important; /* Ensure this overrides any other styles */
    }
    
    &:active {
        color: var(--primary);
    }
}

.tag-links {
    text-decoration: none;
    color: rgba(var(--primary-rgb), .6);
    transition: color var(--transition-default);
    
    &:hover {
        color: var(--color-links-hover);
    }
    
    &:active, &:visited {
        color: rgba(var(--primary-rgb), .6);
    }
}

.orang-links {
    text-decoration: none;
    color: rgb(228, 118, 0);
    transition: color var(--transition-default);
    
    &:hover {
        color: var(--color-links-hover);
    }
    
    &:active, &:visited {
        color: rgb(228, 118, 0);
    }
}