---
layout: default
---

<main>
    <article class="article">
        <div class="post-title">
            <h1>{{ page.title }}</h1>
            <div class="news-date">{{ page.date | date: "%B %d, %Y" }}</div>
        </div>

        {% if page.thumbnail %}
        <div class="title-image">
            <img src="{{ page.thumbnail }}" alt="{{ page.title }}">
        </div>
        {% endif %}

        <div class="post-text" style="margin-top: 1rem !important;">
            {{content}}
        </div>
    </article>
</main>

<div class="blog-navigation">
    <div>
        {% if page.previous.url %}
        <a class="previous post-links" href="{{page.previous.url}}">
            <i class="far fa-arrow-alt-circle-left"></i>
            <span class="blog-navigation-text">{{page.previous.title}}</span>
        </a>
        {% endif %}
    </div>
    <div>
        {% if page.next.url %}
        <a class="next post-links" href="{{page.next.url}}">
            <span class="blog-navigation-text">{{page.next.title}}</span>
            <i class="far fa-arrow-alt-circle-right"></i>
        </a>
        {% endif %}
    </div>
</div>