/* variables */

:root {
    --primary: #003d3b;
    --primary-rgb: 0, 61, 59;
    --secondary: #0b5666;
    --links: 6, 99, 82;
    --links-active: #6eb168;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* min-width: 0;
    min-height: 0; */
}

@font-face {
    font-family: "Yekan";
    src: url('../assets/persian-web-font/yekan-font/Yekan.eot');
    src: url('../assets/persian-web-font/yekan-font/Yekan.woff?#iefix') format('embedded-opentype'), url('../assets/persian-web-font/yekan-font/Yekan.woff') format('woff'), url('../assets/persian-web-font/yekan-font/Yekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Vazir";
    src: url('../assets/persian-web-font/vazir-font-v18.0.0/Vazir.eot');
    src: url('../assets/persian-web-font/vazir-font-v18.0.0/Vazir.woff?#iefix') format('embedded-opentype'), url('../assets/persian-web-font/vazir-font-v18.0.0/Vazir.woff') format('woff'), url('../assets/persian-web-font/vazir-font-v18.0.0/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 18px;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 25px;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.site-header {
    margin: 25px;
    padding: 0 10px;
    overflow: auto;
    font-family: 'Neucha', cursive;
    font-size: 1.0em;
}

.site-header img {
    vertical-align: middle;
    width: 1.5em;
    padding-right: 5px;
    margin-bottom: 5px;
}

.site-header img {
    vertical-align: middle;
    width: 1.5em;
    padding-right: 5px;
    margin-bottom: 5px;
}

.nav-home {
    display: block;
    text-align: center;
    padding-right: 0px;
    margin-bottom: 7.5px;
    text-decoration: none;
    color: var(--primary);
    white-space: nowrap;
}

.nav-home img {
    margin-left: 5px;
    /* width: 1.75em; */
}

.nav-home:hover {
    color: var(--links-active);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1)
}

.nav-home:active .nav-home:visited {
    color: var(--primary);
}

.nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.nav li {
    /* display: inline-block; */
    white-space: nowrap;
}

.nav li i {
    margin-right: 10px;
}

.nav li a {
    text-decoration: none;
    color: var(--primary);
}

.nav li a:hover {
    color: var(--links-active);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1)
}

.nav li a:active .nav li a :visited {
    color: var(--primary);
}

main h3 {
    font-family: "Yekan";
    color: var(--primary);
    padding-bottom: 25px;
    text-align: center;
}

.archive {
    display: grid;
    grid-template-rows: 1fr;
    gap: 20px;
    padding: 0 10px;
}

.posts {
    display: flex;
    gap: 2.5px;
    /* margin: 0 5px; */
    flex-direction: row-reverse;
    align-items: center;
}

.posts-date {
    text-align: center;
    flex-basis: 16%;
    font-family: 'Loved by the King', cursive;
    color: rgba(var(--primary-rgb), .5);
}

.posts-category {
    flex-basis: 16%;
    text-align: center;
    display: none;
    font-family: 'Loved by the King', cursive;
    color: rgba(var(--primary-rgb), .5);
}

.posts-title {
    padding-right: 20px;
    flex-basis: 84%;
    direction: rtl;
    font-family: "Vazir";
    font-size: 0.8em;
    color: var(--primary);
}

.posts-title a {
    text-decoration: none;
}

.posts-title a:active,
.posts-title a:visited {
    color: var(--links)
}

.posts-title a:hover {
    color: var(--links-active)
    /* font-weight: bolder; */
    /* text-shadow: 2px 2px rgba(0, 0, 0, 0.1) */
}

footer {
    font-family: 'Zeyada', cursive;
    color: var(--primary);
    padding-top: 10px;
    font-size: 1em;
    text-align: center;
}

@media screen and (min-width: 320px) {
    .nav {
        display: flex;
        justify-self: center;
        justify-content: center;
    }
    .nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

@media screen and (min-width: 640px) {
    .site-header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .nav-home {
        display: inline;
        justify-self: start;
    }
    .nav {
        justify-self: end;
    }
    .nav ul {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .archive {
        padding: 0 50px;
    }
    .posts-title {
        flex-basis: 68%;
    }
    .posts-category {
        display: inline;
    }
}

@media screen and (min-width: 960px) {
    main h3 {
        padding: 50px 0px;
    }
    .archive {
        padding: 0 100px;
    }
}