/* variables */

:root {
    --primary: #374955;
    --secondary: #364954;
    --links: #344b47;
    --links-active: #002938;
}


/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* base styles */

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* mobile styles */

.avatar {
    padding: 10px;
    margin-top: 5px;
    width: 200px;
    border-radius: 50%;
}

.blog-owner {
    font-family: 'Yusei Magic', sans-serif;
    font-size: 1.4em;
    text-align: center;
    padding-bottom: 10px;
    color: var(--primary);
}

.description {
    font-size: 1em;
    text-align: center;
    color: var(--secondary);
    padding-bottom: 25px;
    margin: 0px 2.5px;
    /* word-wrap: break-word; */
}

.social-links {
    padding-bottom: 25px;
}

.social-links a {
    font-size: 1.5em;
    color: var(--links);
    padding: 0 5px;
    margin: 0 5px;
}

.social-links a:hover {
    color: var(--links-active);
    font-weight: bolder;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1)
}

.social-links a.active {
    color: var(--links);
}

.nav-home ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.nav-home li {
    padding-bottom: 5px;
}

.nav-home a {
    text-decoration: none;
    font-size: 1.2em;
    color: var(--secondary);
    text-align: center;
}

.nav-home a:hover {
    color: var(--links-active);
    font-weight: bolder;
}

.nav-home a.active {
    color: var(--links-active);
}

footer {
    font-family: 'Yusei Magic', sans-serif;
    text-align: center;
    border-top: 1px solid #99aebb;
    padding: 5px 50px 0px;
    margin: 20px auto 10px;
    color: var(--primary);
    font-size: 1em;
}


/* medium mobile styles */

@media screen and (min-width: 350px) {
    .footer-break {
        display: none;
    }
}


/* small tablet styles */

@media screen and (min-width: 620px) {
    body {
        font-size: 20px;
    }
    .avatar {
        width: 250px;
        padding: 20px;
    }
    .social-links {
        padding-bottom: 40px;
    }
    .nav-home ul {
        grid-template-columns: 1fr 1fr 1fr;
        padding-bottom: 25px;
    }
    .footer-break {
        display: none;
    }
    footer {
        font-size: 0.8em;
    }
}


/* large tablet & laptop styles */

@media screen and (min-width: 960px) {
    body {
        font-size: 20px;
    }
    .rwd-break {
        display: none;
    }
    .description {
        padding-bottom: 20px;
    }
    .social-links {
        padding-bottom: 40px;
    }
    .nav-home ul {
        display: flex;
    }
    .nav-home i {
        display: none;
    }
    .nav-home a {
        padding: 5px;
        margin: 5px;
    }
}


/* desktop styles */

@media screen and (min-width: 1200px) {}